<div class="grid">
    <div class="col-12">
        <div class="card">
            <h4>Reportes</h4>

            <div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
                <div class="grid">
                    
                    <div class="col-12 md:col-3 mb-4 px-5">
                        <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="border-radius: 6px">
                            <i class="pi pi-table text-4xl text-blue-500 mb-3"></i>
                            <span class="font-bold text-2xl text-900 mb-2">Reporte 1</span> 
                            <div class="text-700 text-xl mb-4">Reporte de codificación por frecuencia de descripción de campo</div>
                            <!-- <hr class="my-3 mx-0 border-top-1 border-none surface-border" /> -->
                            <button routerLink="/reportes/reporte1"  pButton pRipple label="Ir al reporte" class="p-3 w-full mt-auto"></button>
                        </div>
                    </div>

                    <div class="col-12 md:col-3 mb-4 px-5">
                        <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="border-radius: 6px">
                            <i class="pi pi-table text-4xl text-blue-500 mb-3"></i>
                            <span class="font-bold text-2xl text-900 mb-2">Reporte 2</span> 
                            <div class="text-700 text-xl mb-4">Reporte de avance de codificación por frecuencia de código de la variable seleccionada</div>
                            <!-- <hr class="my-3 mx-0 border-top-1 border-none surface-border" /> -->
                            <button routerLink="/reportes/reporte2" pButton pRipple label="Ir al reporte" class="p-3 w-full mt-auto"></button>
                        </div>
                    </div>

                    <div class="col-12 md:col-3 mb-4 px-5">
                        <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="border-radius: 6px">
                            <i class="pi pi-table text-4xl text-blue-500 mb-3"></i>
                            <span class="font-bold text-2xl text-900 mb-2">Reporte 3</span> 
                            <div class="text-700 text-xl mb-4">Reporte de registros pendientes a codificar por frecuencia de aparición</div>
                            <!-- <hr class="my-3 mx-0 border-top-1 border-none surface-border" /> -->
                            <button routerLink="/reportes/reporte3" pButton pRipple label="Ir al reporte" class="p-3 w-full mt-auto"></button>
                        </div>
                    </div>

                    <div class="col-12 md:col-3 mb-4 px-5">
                        <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="border-radius: 6px">
                            <i class="pi pi-table text-4xl text-blue-500 mb-3"></i>
                            <span class="font-bold text-2xl text-900 mb-2">Reporte 4</span> 
                            <div class="text-700 text-xl mb-4">Reporte de codificación automática y asistida</div>
                            <!-- <hr class="my-3 mx-0 border-top-1 border-none surface-border" /> -->
                            <button routerLink="/reportes/reporte4" pButton pRipple label="Ir al reporte" class="p-3 w-full mt-auto"></button>
                        </div>
                    </div>

                    <div class="col-12 md:col-3 mb-4 px-5">
                        <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="border-radius: 6px">
                            <i class="pi pi-table text-4xl text-blue-500 mb-3"></i>
                            <span class="font-bold text-2xl text-900 mb-2">Reporte 5</span> 
                            <div class="text-700 text-xl mb-4">Reporte de avance general de codificación</div>
                            <!-- <hr class="my-3 mx-0 border-top-1 border-none surface-border" /> -->
                            <button routerLink="/reportes/reporte5" pButton pRipple label="Ir al reporte" class="p-3 w-full mt-auto"></button>
                        </div>
                    </div>

                    <div class="col-12 md:col-3 mb-4 px-5">
                        <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="border-radius: 6px">
                            <i class="pi pi-table text-4xl text-blue-500 mb-3"></i>
                            <span class="font-bold text-2xl text-900 mb-2">Reporte 6</span> 
                            <div class="text-700 text-xl mb-4">Reporte de avance de supervisión por departamento y variable</div>
                            <!-- <hr class="my-3 mx-0 border-top-1 border-none surface-border" /> -->
                            <button routerLink="/reportes/reporte6" pButton pRipple label="Ir al reporte" class="p-3 w-full mt-auto"></button>
                        </div>
                    </div>

                    <div class="col-12 md:col-3 mb-4 px-5">
                        <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="border-radius: 6px">
                            <i class="pi pi-table text-4xl text-blue-500 mb-3"></i>
                            <span class="font-bold text-2xl text-900 mb-2">Reporte 7</span> 
                            <div class="text-700 text-xl mb-4">Reporte de avance de supervisión por usuario y variable</div>
                            <!-- <hr class="my-3 mx-0 border-top-1 border-none surface-border" /> -->
                            <button routerLink="/reportes/reporte7" pButton pRipple label="Ir al reporte" class="p-3 w-full mt-auto"></button>
                        </div>
                    </div>

                    <div class="col-12 md:col-3 mb-4 px-5">
                        <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="border-radius: 6px">
                            <i class="pi pi-table text-4xl text-blue-500 mb-3"></i>
                            <span class="font-bold text-2xl text-900 mb-2">Reporte 8</span> 
                            <div class="text-700 text-xl mb-4">Reporte de avance diario de supervisióno</div>
                            <!-- <hr class="my-3 mx-0 border-top-1 border-none surface-border" /> -->
                            <button routerLink="/reportes/reporte8" pButton pRipple label="Ir al reporte" class="p-3 w-full mt-auto"></button>
                        </div>
                    </div>

                    <div class="col-12 md:col-3 mb-4 px-5">
                        <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="border-radius: 6px">
                            <i class="pi pi-table text-4xl text-blue-500 mb-3"></i>
                            <span class="font-bold text-2xl text-900 mb-2">Reporte 9</span> 
                            <div class="text-700 text-xl mb-4">Reporte de avance de codificación por departamento y variable</div>
                            <!-- <hr class="my-3 mx-0 border-top-1 border-none surface-border" /> -->
                            <button routerLink="/reportes/reporte9" pButton pRipple label="Ir al reporte" class="p-3 w-full mt-auto"></button>
                        </div>
                    </div>

                    <div class="col-12 md:col-3 mb-4 px-5">
                        <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="border-radius: 6px">
                            <i class="pi pi-table text-4xl text-blue-500 mb-3"></i>
                            <span class="font-bold text-2xl text-900" mb-2>Reporte 10</span> 
                            <div class="text-700 text-xl mb-4">Reporte de avance de codificación por usuario y variable</div>
                            <!-- <hr class="my-3 mx-0 border-top-1 border-none surface-border" /> -->
                            <button routerLink="/reportes/reporte10" pButton pRipple label="Ir al reporte" class="p-3 w-full mt-auto"></button>
                        </div>
                    </div>

                    <div class="col-12 md:col-3 mb-4 px-5">
                        <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="border-radius: 6px">
                            <i class="pi pi-table text-4xl text-blue-500 mb-3"></i>
                            <span class="font-bold text-2xl text-900" mb-2>Reporte 11</span> 
                            <div class="text-700 text-xl mb-4">Reporte de avance diario de codificación</div>
                            <!-- <hr class="my-3 mx-0 border-top-1 border-none surface-border" /> -->
                            <button routerLink="/reportes/reporte11" pButton pRipple label="Ir al reporte" class="p-3 w-full mt-auto"></button>
                        </div>
                    </div>

                    <div class="col-12 md:col-3 mb-4 px-5">
                        <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="border-radius: 6px">
                            <i class="pi pi-table text-4xl text-blue-500 mb-3"></i>
                            <span class="font-bold text-2xl text-900" mb-2>Reporte 12</span> 
                            <div class="text-700 text-xl mb-4">------------------------------------------------</div>
                            <!-- <hr class="my-3 mx-0 border-top-1 border-none surface-border" /> -->
                            <button routerLink="/reportes/reporte12" pButton pRipple label="Ir al reporte" class="p-3 w-full mt-auto"></button>
                        </div>
                    </div>


                   
                </div>
            </div>

        </div>
    </div>
</div>